server/.classpath
server/.gitignore
server/.project
server/.settings/

monitor/db/Debug/
monitor/db/Release/
monitor/net/Debug/
monitor/net/Release/
monitor/wf/Debug/
monitor/wf/Release/
monitor/ws/Debug/
monitor/ws/Release/
monitor/test/Debug/
monitor/test/Release/
monitor/ui/Debug/
monitor/ui/Release/
monitor/Debug/
monitor/Release/
